@CHARSET "UTF-8";

.input_search {
	display: block;
	padding: 0 5px;
	border: 0 none;
	line-height: 32px;
	border-radius: 3px;
	width: 100%;
	outline: none;
}

#search-popup {
	position: absolute;
	display: none;
	background-color: white;
	max-height: 400px;
	width: 100%;
	overflow: hidden;
	overflow-y: scroll;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

#search-list-customer {
	list-style-type: none;
	margin:0 5px;
	padding: 5px;
}

}
#search-list-customer li a {
	text-decoration: none;
}

#search-list-customer li a:HOVER {
	color: #3699e2;
}

.image-search {
	list-style: none;
	height: 40px;
	width: auto;
}
.search-result-element{
	margin: 0 5px;
	padding: 0;
}
.search-result-element:HOVER {
	background-color: #e6f0f2;
	
}